<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="./global-icon/favicon.ico"/>
    <!-- BOOTSTRAP & JQUERY -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- BOOTSTRAP & JQUERY -->

    <title>PopularJokes || Create a joke</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand title" href="/">PopularJokes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item navItems">
                  <a class="nav-link" href="/jokes">See jokes</a>
                </li>
                <li class="nav-item navItems">
                  <a class="nav-link" href="/my_jokes">My jokes</a>
                </li>
                <li class="nav-item navItems">
                  <a class="nav-link" href="/logout">Log out</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>

    <section class="bodyColor">
        <div class="container tt">
            <div class="row">
                <div class="col-md-8">
                    <img src="./images/rotund.png" alt="" class="img_smile">
                </div>
                <div class="col-md-4">
                    <div class="the_bg">
                        <p class="popularJ text-center">Create Joke</p>
                        <div class="text-center">
                            <form action="/create_joke" method="post">
                                <div class="theUser">
                                    <input type="text" name="title" id="" placeholder="Joke title" maxlength="12">
                                </div>
                                <div class="thePassTWO">
                                    <textarea name="description" id="" cols="30" rows="7" maxlength="100" placeholder="The joke"></textarea>
                                </div>
                                <input type="hidden" name="post_user" id="" value="<%= name.username %>">
                                <input type="submit" value="Submit" class="submitRegister">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>